<%- include("partials/header") -%>

        <div class="grid">
            <% posts.forEach(function(post) { %>
                <div class="grid-item">
                    <a href="/show-posts/desc?id=<%= post._id %>"><img src="/images/uploads/<%= post.postData %>" /></a>
                    <p class="postTitle">
                        <%= post.postCaption %>
                    </p>
                    <p class="username">@<%= post.user.username %>
                    </p>
                </div>
            <% });%>

        </div>

        
    </body>

    </html>

<%- include("partials/footer") -%>